.cards {
    padding: 20px;
}
.card {
    max-width: 400px;
    background-color: bisque;
}

.header-image {
    background-image: url('../../assets/img/game_controller.png');
    background-size: cover;
}