<div class="cards">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>ESCAPE-QUEST</mat-card-title>
            <mat-card-subtitle>学校から脱出せよ！</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of games">
        <!-- コンテンツ -->
        <mat-card-content>
            <p>勇者養成学校に入学したあなた。初回授業の内容は自力で「エスケープ」のスキルを習得すること。
              学校中を探索して下校できた頃にはこっと心も身体もひとまわり成長していることでしょう。</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>PLAY</button>
        </mat-card-actions>
    </mat-card>            
</div>
  
