h2 {
    margin-top: 15px;
    margin-bottom: 0;
}

.searchPeriod-radio-group {
    display: inline-flex;
}

.searchPeriod-radio-button {
    margin: 10px 10px;
}

.analyseOption-checkbox {
    display: inline-block;
    margin: 10px 10px;
}

.button-wrapper {
    margin: 20px;
    text-align: center;
}

