<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>エゴサーチ</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <!-- コンテンツ -->
    <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel [expanded]="isPanelOpen" (opened)="isPanelOpen = true" (closed)="isPanelOpen = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>新規エゴサーチ</mat-panel-title>
                        <!-- <mat-panel-description>新規エゴサーチ</mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <app-search-request (closePanel)="closePanel($event)"></app-search-request>
                </mat-expansion-panel>
            </mat-accordion>
            <app-search-list></app-search-list>
    </mat-card-content>
    <!-- アクション -->
    <mat-card-actions>
        <p></p>
    </mat-card-actions>
</mat-card>
